body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
a,li {
    text-decoration: none;
    list-style: none;
    color: #000;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    font-size: 13px;
}
#nav_items {
    display: flex;
    padding: 0;
}
.nav-link {
    padding: 0 1rem;
}
#button {
    border: 1px solid #4285f4;
    background-color: #4285f4;
    border-radius: 4px;
    width: 66px;
    margin: 9px;
    font-size: 13px;
    padding: 8px;
}
#sign_in {
    color: #fff;
}
#img {
    display: block;
    margin: auto auto;
    padding-top: 7rem;
}
#search_bar {
    display: block;
    margin: auto auto;
    padding: 13px;
    border-radius: 36px;
    border: 1px solid #c6c1c1;
    margin-top: 36px;
    width: 32rem;
}
.button {
    border: none;
    margin-left: 34px;
    padding: 10px;
    border-radius: 5px;
}
#Google_Search {
    display: flex;
    justify-content:  center;
    margin-top: 34px;
}
div~p {
    font-size: 13px;
    text-align: center;
    padding-top: 12px;
}
#lang {
    color: #1f1fce;
}
#footer {
    background-color: #f2f1f0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#Nigeria {
    border: 1px solid #dbd4d482;
    padding: 14px;
    padding-left: 36px;
    margin: 0;
}
#footer_left {
    display: flex;
    padding: 0 17px;
}
.footer-link {
    padding: 0 20px;
}
#footer_right {
    display: flex;
}
#ftr {
    display: flex;
    justify-content: space-between;
}